<div class="container">
    <h1>CRUD Operations</h1>
    <h2>{{title}}</h2>
    <a href="support" class="btn btn-success">Create Contact</a>
    <br /><br />
    <table class="table" border="1">
      <tr>
        <th>#ID</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Heading</th>
        <th>Main_heading</th>
        <th>Small_heading</th>
      </tr>
       <% if(contact.length!=0){
        var i = 1;
        contact.forEach(function(data){ %>
        <tr>
          <td><%= i %></td>
          <td><%= data.phone %></td>
          <td><%= data.email %></td>
          <td><%= data.heading %></td>
          <td><%= data.phone %></td>
          <td><%= data.phone %></td>
          <td>
              <a href="/admin/edit-form/<%= data.id %>" class="btn btn-info btn-sm">Edit</a>
              <a href="/products/delete/{{this.id}}" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
        <% i++ }) } %>
    </table>
  </div>