<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('layout/comman_menu') %>
</head>

<body>
 <%- include('layout/menu') %>
  <!-- ======= Sidebar ======= -->
  <%- include('layout/sidebar') %>
    <!-- End Sidebar-->

    <main id="main" class="main">
     
       
        <section class="section">
            <div class="row">
                
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Contact Us</h5>
        
                      <!-- Vertical Form -->
                      <form id="formContactDetails" method="post" onsubmit="return false;">
                        <div class="col-12">
                          <label for="main_heading" class="form-label">Main Heading</label>
                          <textarea class="tinymce-editor" name="main_heading" id="main_heading"><%= contactData[0].main_heading %></textarea>
                        </div>
                        <div class="row">
                        <div class="col-6">
                          <label for="phone_no" class="form-label">Phone Number</label>
                          <input type="text" name="phone_no" id="phone_no" class="form-control" value="<%= contactData[0].phone_no %>" required>
                        </div>
                        <div class="col-6">
                          <label for="email" class="form-label">Email</label>
                          <input type="email" name="email" id="email" class="form-control" value="<%= contactData[0].email %>" required>
                        </div>
                        </div>
                        <div class="col-12">
                          <label for="office_details" class="form-label">Office Visiting Hours</label>
                          <textarea class="tinymce-editor" name="office_details" id="office_details"><%= contactData[0].office_details %></textarea>
                        </div>
                        <div class="col-12 text-center">
                          <div class="form-group">
                          <button type="submit" class="btn btn-primary">Update</button>
                          </div>
                        </div>
                      </form><!-- Vertical Form -->
        
                    </div>
                  </div>
            </div>
            </div>
        </section>
      </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('layout/footer') %>
  <script src="/admin-theme/js/contact_us.js"></script>
</body>
</html>