<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('layout/comman_menu') %>
</head>

<body>
 <%- include('layout/menu') %>
  <!-- ======= Sidebar ======= -->
  <%- include('layout/sidebar') %>
    <!-- End Sidebar-->

    <main id="main" class="main">
     
       
        <section class="section">
            <div class="row">
                
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Home Page</h5>
        
                      <!-- Vertical Form -->
                      <form id="formHomeDetails" method="post" onsubmit="return false;">
                        <div class="col-12 mb-3">
                          <label for="main_title" class="form-label">Main Title</label>
                          <textarea class="tinymce-editor" name="main_title" id="main_title"><%= homeContent[0].main_title %></textarea>
                        </div>
                        
                        <div class="col-12 mb-3">
                          <label for="second_heading" class="form-label">Second Heading</label>
                          <textarea class="tinymce-editor" name="second_heading" id="second_heading"><%= homeContent[0].second_heading %></textarea>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="form-group"></div>
                                <label for="main_image" class="form-label">Main Image</label>
                                <input class="form-control" type="file" id="formFile" name="main_image">
                          </div>
                          
                          <div class="col-12 mb-3">
                            <h5 class="card-title">Second section</h5>
                          </div>

                          <div class="col-12 mb-3">
                            <label for="main_title" class="form-label">Heading</label>
                            <textarea class="tinymce-editor" name="third_heading" id="third_heading"><%= homeContent[0].third_heading %></textarea>
                          </div>
                          
                          <div class="col-12 mb-3">
                            <label for="second_heading" class="form-label">Details</label>
                            <textarea class="tinymce-editor" name="fourth_heading" id="fourth_heading"><%= homeContent[0].fourth_heading %></textarea>
                          </div>

                          <div class="col-12 mb-3">
                            <h5 class="card-title">Third section</h5>
                          </div>

                          <div class="col-12 mb-3">
                            <label for="main_title" class="form-label">Heading</label>
                            <textarea class="tinymce-editor" name="five_heading" id="five_heading"><%= homeContent[0].five_heading %></textarea>
                          </div>
                          
                          <div class="col-12 mb-3">
                            <label for="second_heading" class="form-label">Details</label>
                            <textarea class="tinymce-editor" name="six_heading" id="six_heading"><%= homeContent[0].six_heading %></textarea>
                          </div>

                          <div class="col-12 mb-3">
                            <h5 class="card-title">Forth section</h5>
                          </div>

                          <div class="col-12 mb-3">
                            <label for="main_title" class="form-label">Heading</label>
                            <textarea class="tinymce-editor" name="sevent_heading" id="sevent_heading"><%= homeContent[0].sevent_heading %></textarea>
                          </div>
                          
                          <div class="col-12 mb-3">
                            <label for="second_heading" class="form-label">Details</label>
                            <textarea class="tinymce-editor" name="eight_heading" id="eight_heading"><%= homeContent[0].eight_heading %></textarea>
                          </div>
                            
                          </div>
                        <div class="col-12 text-center mb-3">
                          <div class="form-group">
                          <button type="submit" class="btn btn-primary">Update</button>
                          </div>
                        </div>
                      </form><!-- Vertical Form -->
        
                    </div>
                  </div>
            </div>

           
            </div>
            </div>
        </section>
      </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('layout/footer') %>
  <script src="/admin-theme/js/home_page.js"></script>
</body>
</html>