<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('layout/comman_menu') %>
</head>

<body>

    <%- include('layout/menu') %>
  <!-- ======= Sidebar ======= -->
  <%- include('layout/sidebar') %>
    <!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
          <h1>Testimonial</h1>
         
        </div><!-- End Page Title -->
        <section class="section">
            <div class="row">
                <div class="col-3"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">New Testimonial</h5>
        
                      <!-- Vertical Form -->
                      <form class="row g-3" action="/edit/<%= product.id %>" method="post">
                        <div class="col-12">
                          <label for="inputNanme4" class="form-label">Name</label>
                          <input type="text" value="<%= product.Name %>" class="form-control" id="inputNanme4" name="Name" >
                        </div>
                        <div class="col-12">
                          <label for="inputEmail4" class="form-label">Company_Name</label>
                          <input type="text" value="<%= product.company_name %>" class="form-control" id="inputEmail4" name="company_name">
                        </div>
                        
                        <div class="col-12">
                          <label for="inputAddress" class="form-label">Client Since</label>
                          <input type="text" value="<%= product.Client_since %>" class="form-control" id="Client_since" name="Client_since">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Message</label>
                            <textarea rows="5" value="<%= product.Message %>" cols="40" name="Message" class="form-control" name="Message" required></textarea>
                          </div>
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                      </form><!-- Vertical Form -->
        
                    </div>
                  </div>
            </div>
            </div>
        </section>
      </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('layout/footer') %>

 
</body>

</html>