<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layout/comman_menu') %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css"
            integrity="sha512-yJHCxhu8pTR7P2UgXFrHvLMniOAL5ET1f5Cj+/dzl+JIlGTh5Cz+IeklcXzMavKvXP8vXqKMQyZjscjf3ZDfGA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://kit.fontawesome.com/9ae01dec74.js" crossorigin="anonymous"></script>
       
        <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css"
          integrity="sha512-yJHCxhu8pTR7P2UgXFrHvLMniOAL5ET1f5Cj+/dzl+JIlGTh5Cz+IeklcXzMavKvXP8vXqKMQyZjscjf3ZDfGA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ae01dec74.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
          integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css"
		integrity="sha512-yJHCxhu8pTR7P2UgXFrHvLMniOAL5ET1f5Cj+/dzl+JIlGTh5Cz+IeklcXzMavKvXP8vXqKMQyZjscjf3ZDfGA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <script src="//unpkg.com/grapesjs"></script>
      
    </head>

<body>

    <%- include('../layout/menu') %>
    <!-- section one-->
    <br>  <br>   <br>   <br>   <br> <br> <br>
    <div class="banner_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 section_one_heading">
                    
                    <%- homeContent[0].main_title %>
                    <%- homeContent[0].second_heading %>
                   
                    <div class="get_started1" style="margin-top: 50px;">
                        <a class="start_btn" href="">
                            Enquiry Now
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a class="sales_btn" href="">
                            Existing Login
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <!-- <br /><br /><br /> -->
               
                <div class="col-lg-6 col2" style="right:-80px;">
                    <div class="chart-container home_chart">
                        <img src="home_images/<%=homeContent[0].main_image %>" alt="">
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <!-- LOGO SECTION -->
    <div class="container logo_section">
            <div class="row">
                <% if(homeLogo.length!=0){
                    homeLogo.forEach(function(logos){
                %>
                <div class="col-lg-3 col-md-4 col-6 mt-5">
                    <a href="<%=logos.logo_link %>" target="_new"><img src="home_logo/<%=logos.logo %>" class="img-responsive" /></a>
                </div>
                <%  }) } %>
             </div>
    </div>
    <!-- END SECTION -->

    <!-- UNIFIED PLATFORM SECTION -->
    <div class="unified_platform">
        <div class="container">
            <div class="row">
                <div class="main-content">
                    <p>Unified platform</p>
                    <h2>

                       
                        A fully integrated suite of <br class="tab-none"> payments products
                    </h2>
                </div>
                <div class="col-lg-6">
                    <p>
                        <%- homeContent[0].fourth_heading %>                    </p>
                    <div>
                        <a class="start_btn" href="">
                            Start with payments
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>
                        We also help companies <a>beat fraud,</a> <a>send invoices, issue virtual and physical cards,</a> <a>get financing,</a> <a>manage business spend,</a> and much more.
                    </p>
                </div>
            </div>
            <!--<div class="row img_grid_section">
                <div class="col-lg-3 grid_1">
                    <img src="images/visa.PNG" alt="">
                </div>
                <div class="col-lg-6 grid_2">
                    <img src="images/invoice.PNG" alt="">
                </div>
                <div class="col-lg-3 grid_3">
                    <img src="images/g-pay.PNG" alt="">
                </div>
                <div class="col-lg-1 grid_4"></div>
                <div class="col-lg-3 grid_5">
                    <img src="images/away.PNG" alt="">
                </div>
                <div class="col-lg-9 grid_6">
                    <img src="images/risk.PNG" alt="">
                </div>
            </div>-->
        </div>
    </div>
    <!-- END SECTION -->
    <!-- DESIGNED FOR DEVELOPERS SECTION -->
    <div class="developer_section position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col1">
                    <div class="row">
                        <div class="main-content">
                            <p>Designed for developers</p>
                            <h2>
                                <%- homeContent[0].five_heading %>
                            </h2>
                        </div>
                        <div class="sub_content">
                            <p>
                                <%- homeContent[0].six_heading %>
                            </p>
                            <div>
                                <a class="start_btn" href="">
                                    Read the docs
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                        <br><br><br><br> <br>

                        <div class="col-md-6 sub_content_2" style="margin-top: 30px;">

                            <h6>
                                <span>Tools for every stack</span>
                            </h6>
                            <p>We offer client and server libraries in everything from React and PHP to .NET and iOS.</p>
                            <a class="sales_btn" href="">
                                See libraries
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-md-6 sub_content_2" style="margin-top: 30px;">

                            <h6>
                                <span>Prebuilt integrations</span>
                            </h6>
                            <p>
                                Use integrations for systems like Shopify, WooCommerce, NetSuite, and more.
                            </p>
                            <a class="sales_btn" href="">
                                Explore partners
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="col-lg-6 col2" style="right:10px;">
                    <div class="chart-container">
                        <img src="client-assets/images/vpos1.png" height="550px" alt="">
                    </div>
                </div>

                

            </div>
        </div>

        <div id="developer_stripes"></div>
    </div>
    
    <!-- END SECTION -->
    <!-- WHY STRIPE SECTION-->
    <div id="contact_stripes" class="why_top_stripes">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container why_stripe">
       
        <div class="row">
            <div class="main-content">
               <!-- <p>Why Stripe</p>-->
                <h2>
                    <%- homeContent[0].section_4_heading %> 
                </h2>
            </div>

            <div class="col-lg-3 col-md-6 mt-4">

                <h6>
                    <span> <%- homeContent[0].sub_4_1_heading %> </span>
                </h6>
                <div>
                    <p>
                        <%- homeContent[0].sub_4_1_details %>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4">

                <h6>
                    <span><%- homeContent[0].sub_4_2_heading %> </span>
                </h6>
                <div>
                    <p>
                        <%- homeContent[0].sub_4_2_details %>
                                        </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4">

                <h6>
                    <span><%- homeContent[0].sub_4_3_heading %></span>
                </h6>
                <div>
                    <p>
                        <%- homeContent[0].sub_4_3_details %>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4">

                <h6>
                    <span><%- homeContent[0].sub_4_4_heading %></span>
                </h6>
                <div>
                    <p>
                        <%- homeContent[0].sub_4_4_details %>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- END SECTION -->
    <!-- GLOBE SECTION -->
    <div class="globe_section">
        
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="main-content">
                        <p>Global scale</p>
                        <h2>
                            The backbone for <br> internet business
                        </h2>
                    </div>
                    <div class="sub_content">
                        <p>
                            For ambitious companies around the world, Stripe makes moving money as simple, borderless, and programmable as the rest of the internet. Our teams are based in dozens of offices around the world and we process hundreds of billions of dollars each year for <a>startups to large enterprises.</a>
                        </p>

                    </div>
                </div>
                <div class="col-lg-6 col2" style="right:10px;">
                    <div class="chart-container">
                        <img src="client-assets/images/vpos2.png" height="450px" alt="" style="margin-top:60px;">
                    </div>
                </div>

            </div>

            <div class="row p-0 count_section">
                <div class="col-lg-3 col-md-6 pl-0">
                    <h4>
                        <span>250M+</span>
                    </h4>
                    <p>
                        API requests per day, peaking at 13000 requests a second
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 pl-0">
                    <h4>
                        <span>90%</span>
                    </h4>
                    <p>
                        of U.S. adultus have bought from businesses using Stripe.
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 pl-0">
                    <h4>
                        <span>135+</span>
                    </h4>
                    <p>
                        curriencies and payment method supported.
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 pl-0">
                    <h4>
                        <span>35+</span>
                    </h4>
                    <p>
                        countries with local acquiring, optimising acceptance rates.
                    </p>
                </div>

            </div>

        </div>

    </div>
    <!-- END SECTION -->
    <!-- GET STARTED SECTION -->
    <div class="get_started">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col_one">
                    <h4>Ready to get started?</h4>
                    <p>
                        Explore <span>Stripe Payments, </span>
                        or create an account instantly and start accepting payments,
                        You can also contact us to design a custom package for your business.
                    </p>
                    <div>
                        <a class="start_btn" href="">
                            Start Now
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a class="sales_btn" href="">
                            Contact Sales
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col_two">
                    <div class="row mt-4 col-lg-0">
                        <div class="col-md-6">
                           
                            <h6>
                                <span>Always know what you pay</span>
                            </h6>
                            <p>Integrated per-transaction pricing with no hidden fees.</p>
                            <a class="sales_btn" href="">
                                Pricing details
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-md-6">
                            
                            <h6>
                                <span>Start your integration</span>
                            </h6>
                            <p>
                                Get up and running with Stripe in as little as 10 minutes.
                            </p>
                            <a class="sales_btn" href="">
                                API reference
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Footer start -->

    

    <%- include('../layout/footer') %>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
        integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>